page-feed {
  h1.feed_title {
    color: grey;
    font-weight:  bold;
    text-align:  center;
  }
    ion-card img {
      display: block;
      width: 90%;
      margin: auto;
      align-items: center;
    }

}
